@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to BDAT1001 Information Encoding Standards</h1>

</div>


<div style="margin-top : 100px">
    <p>Project by Gorup 7 : 
     <p>1. Arwa Khumri (200514386)</p>  
     <p>2. Manav Mehta  (200507039)</p>
     <p>3. Mausum lakhani (200517440)</p>  
     <p>4. Rinu Francis  (200517425)</p>   
</div>
